[submodule "alacritty"]
	path = alacritty
	url = https://github.com/raphaelweis/alacritty.git
[submodule "auto-hotkey"]
	path = auto-hotkey
	url = https://github.com/raphaelweis/auto-hotkey.git
	branch = main
